*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    height: auto;
}

.hero-header {
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: #121214;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    /* width: 100%; */
    background-color: #121214;
    width: 1280px;
    max-width: 95%;
    margin: 0 0;
    padding: 15px 20px;
    z-index: 1;
}

#services {
    scroll-margin-top: 5rem;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    width: 45px;
    height: 45px;
    background-color: #6639E4;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500px;
    color: #fff;
}


nav .toggleBtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;

}

nav .toggleBtn span {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #6639E4;
    margin: 5px 0px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li { 
    display: inline-block;
    
}

nav .navlinks li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
    text-decoration: none;
}
nav .navlinks li a:hover {
    color: #6639E4;
    margin-right: 2.5rem;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #6639E4;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5) ;
}

.hero-pic img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}    

.hero-text h5 span {
    color: #6639E4;
    font-size: 16px;
}    

.hero-text h1 { 
    color: #6639E4;
    font-size: 3rem;
}

.hero-text p {
    color: #e5e5e5 ;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.btn-group .btn.cv {
    border-color: #6639E4;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 30px;
    margin-right: 10px;
    transition: 0.5s;
    padding-top: 30px;
}

.hero-text .social i:hover {
    color: #6639E4;
    transform: rotate(360deg);
}

.skills {
    width:100%;
    height: 100%;
    background: #1B1B1D;
    padding-bottom: 100px;
}

.skills .container {
    width: 80%;
    background-color: #1B1B1D;
    margin:auto;
    padding: 20px;
    margin-right: 20%;
    border: 4px solid #6639e4;
    box-shadow: rgba(73, 28, 202, 0.4) 5px 5px, rgba(57, 21, 157, 0.3) 10px 10px, rgba(51, 51, 112, 0.2) 15px 15px, rgba(24, 9, 67, 0.1) 20px 20px, rgba(8, 3, 22, 0.05) 25px 25px;  
}
.section-title {
    text-align: center;
    font-size: 30px;
    color: #fff ;
    padding: 50px;
}

.skills-text {
    width: 40%;
    padding: 30px;
    margin: 0 5px;
    text-align: center;
    color: #fff ;
    font-size: 15px;
}

.services {
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: #1B1B1D;
    padding-bottom: 100px;
}

.services .container {
    width: 80%;
    background-color: #1B1B1D;
    margin:auto;
    padding: 20px;
    margin-left: 20%;
    border: 4px solid #6639e4;
    box-shadow: rgba(73, 28, 202, 0.4) -5px 5px, rgba(57, 21, 157, 0.3) -10px 10px, rgba(51, 51, 112, 0.2) -15px 15px, rgba(24, 9, 67, 0.1) -20px 20px, rgba(8, 3, 22, 0.05) -25px 25px;
}

.services-card {
    width: 250px;
    height: 350px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    color: #e5e5e5;
}

.services-card img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.services-info {
    padding: 20px;
}

.services-info h2 {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.services-info p {
    padding-top: 10px;
    font-size: 13px;
}

.services-card:hover {
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.01);
}

.portfolio {
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: #242426;
    padding-bottom: 100px;
}

#portfolio{
    scroll-margin-top: 5rem;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.tabs label {
    width: 200px;
    height: 50px;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: #6639E4;
    font-weight: bold;
    transition: background ease 0.3s;
}

.tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    padding: 20px;
    box-shadow: -10px 10px 0px 0px black;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

@media (max-width: 465px) 
    {
        .tabs .tab,
        .tabs label {
        order: initial;
        }

        .tabs label {
        width: 100%;
        margin-left: 50px;
        }
    }

.cards img {
    height: 200px;
    width: 500px;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
.cards_item {
    width: 50%;
}
}

@media (min-width: 56rem) {
.cards_item {
    width: 33.3333%;
}
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card:hover {
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.01);
}



.card_content {
    padding: 1rem;
    /* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
    height: 80px;
}

.card_title {
    color: #242426;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #242426;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}

.made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}















    

@media(max-width:930px)
    {
        #myHeader{
            width: 100%;
            margin: 0 auto;
        }
        nav .toggleBtn{
            display: initial;
            margin-top: -20px;
            margin-right: 20px;
        }
        /* for toggle button */
        .click{
            top: 45px;
        }
        .click span{
            position: absolute;
            margin-top: 12px;
        }
        .click span:first-child{
            transform:rotate(-40deg)
        }
        .click span:nth-child(2){
            opacity: 0;
            margin: 0;
        }
        .click span:last-child{
            transform: rotate(45deg);
            top: 0;
        }
        nav .navlinks{
            position: absolute;
            top: 110px;
            right: -100%;
            bottom: 0;
            width: 60%;
            height: 100vh;
            background-color: #222;
            z-index: 3;
            box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
            transition: 0.5s;
            padding: 25px 0px;
        }
        nav .navlinks li{
            display: block;
        }
        nav .navlinks li a{
            display: block;
            margin-bottom: 15px;
            text-align: center;
        }
        nav .navlinks.open{
            right: 0;
        }
        #services{
            scroll-margin-top: 9rem;
        }
        #portfolio{
            scroll-margin-top: 9rem;
        }
    }

@media(max-width:768px)
    {
        .container{
           flex-direction: column;
           padding-top: 2rem;
        }
        .hero-text{
            padding: 40px 0px;
        }
    }
